   .wrapper {
       background-color:#a9a9a9;
   }

  .mainPage {
      width: 525px;
      height: 715px;
      background-color: white;
      margin: 0 auto ;

  }
    h1 {
        width: auto;
        margin: 0 auto;
        padding-top: auto;
        text-align: center;
    }
   .photo{
       width: 134px;
       height: 145px;
       background-color: white;
       text-align: center;
       margin: 20px auto;

   }

   .prof {
                     margin: auto 20px;
                     padding: 10px;
                     border-bottom: 1px solid darkgrey;
                 }
     .lastprof  {
       margin: auto 20px;
       padding: 10px;
       border-bottom: 0;
   }